
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ivan</title>
    <link rel="stylesheet" href="/static/website/example1.css">
    <style>img{
        border-radius: 8px;
        width:30%;
        float: left;
    }
    </style>
</head>
<body>
<h1>Ivan Gonzalez Website </h1>
<a><img src="/static/website/profilePic.jpeg" alt="IMG-0581"  style="float:left; padding-right: 50px;"></a>

    <p><b>About Me</b> <br>Hello visitor, my name is Ivan Gonzalez and I'm currently living in Kennesaw Ga.
    I'm a senior completing Computer science with interests in big data, A.I, and machine learning.
    My career plans involve becoming a software engineer or data analyst.
    Outside of school, I like to do gaming, travel, exercise, and vibing out to music.</p>
<p><b>Skills</b> <br>I'm familiar with a wide array of tools like Java, C#, C++, Python,(HTML,CSS,JavaScript), SQL, Django framework, OOP programming, AGILE.
Looking forward to working with a company that offers growth, travel, work-life balance, and awesome coworkers to work with! </p>

<form action="/website">
    <input type="submit" value="Home" />
</form>
<form>
    <input type = "button" onclick="insertButtons()" name = "Assignment 2" value = "Change Background And Font Color" />
</form>

<form action="/weather">
    <input type="submit" value="API:Weather In Kennesaw" />
</form>
<form action="/final">
    <input type="submit" value="Database:My Academic Classes And Grades" />
</form>
<p id="text"></p>
<table id="sampleTable" border="1">
</table>

<script>
    window.addEventListener("resize", function () {
        document.getElementById("text").innerHTML = "I can see you resized the size of your browser window";
    });
    var suggest = document.getElementById("button3");
    suggest.addEventListener("mouseover", suggestive);
    suggest.addEventListener("mouseout", suggestive2);

    var suggest2 = document.getElementById("button4");
    suggest2.addEventListener("mouseover", suggestive);
    suggest2.addEventListener("mouseout", suggestive2);

    var suggest3 = document.getElementById("button5");
    suggest3.addEventListener("mouseover", suggestive);
    suggest3.addEventListener("mouseout", suggestive2);

    function weather() {
        window.open("/weather");

    }
    function insertButtons() {
        var button = document.createElement("button");
        button.innerHTML = "Blue Font";

        var button2 = document.createElement("button");
        button2.innerHTML = "Red Font";

        var body = document.getElementById("sampleTable");
        body.appendChild(button);

        var body2 = document.getElementById("sampleTable");
        body2.appendChild(button2);

        button.addEventListener("click", function(){
            document.body.style.color = "blue";
        })

        button2.addEventListener("click", function(){
            document.body.style.color = "red";
        })


        var button3 = document.createElement("button");
        button3.innerHTML = "Black Background";

        var button4 = document.createElement("button");
        button4.innerHTML = "Turquoise Background";

        var body3 = document.getElementById("sampleTable");
        body3.appendChild(button3);

        var body4 = document.getElementById("sampleTable");
        body4.appendChild(button4);

        button3.addEventListener("click", function(){
            document.body.style.backgroundColor = "black";
        })

        button4.addEventListener("click", function(){
            document.body.style.backgroundColor = "turquoise";
        })
    }

    function suggestive(){
        document.getElementById("text").innerHTML = "Assignment is still yet to be completed!"
    }
    function suggestive2(){
        document.getElementById("text").innerHTML = ""
    }
</script>
<footer>
    Created by Ivan Gonzalez 2020 &#169; - All Rights Reserved
</footer>
</body>
</html>
